/* Sports - Blocks */
/* Sports - Blocks 1 */
/* line 11, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-archerypng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/archery.png");
}

/* Sports - Blocks 2 */
/* line 15, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-atvpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/atv.png");
}

/* Sports - Blocks 3 */
/* line 19, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-australianfootballpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/australianfootball.png");
}

/* Sports - Blocks 4 */
/* line 23, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-avalanche1png] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/avalanche1.png");
}

/* Sports - Blocks 5 */
/* line 27, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-badminton-2png] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/badminton-2.png");
}

/* Sports - Blocks 6 */
/* line 31, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-baseballpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/baseball.png");
}

/* Sports - Blocks 7 */
/* line 35, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-basketballpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/basketball.png");
}

/* Sports - Blocks 8 */
/* line 39, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-beachvolleyballpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/beachvolleyball.png");
}

/* Sports - Blocks 9 */
/* line 43, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-bike-downhillpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/bike_downhill.png");
}

/* Sports - Blocks 10 */
/* line 47, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-bike-risingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/bike_rising.png");
}

/* Sports - Blocks 11 */
/* line 51, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-billiard-2png] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/billiard-2.png");
}

/* Sports - Blocks 12 */
/* line 55, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-boardercrosspng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/boardercross.png");
}

/* Sports - Blocks 13 */
/* line 59, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-bobsleighpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/bobsleigh.png");
}

/* Sports - Blocks 14 */
/* line 63, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-bolliepng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/bollie.png");
}

/* Sports - Blocks 15 */
/* line 67, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-boxingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/boxing.png");
}

/* Sports - Blocks 16 */
/* line 71, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-chronometerpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/chronometer.png");
}

/* Sports - Blocks 17 */
/* line 75, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-climbingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/climbing.png");
}

/* Sports - Blocks 18 */
/* line 79, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-coldfoodcheckpointpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/coldfoodcheckpoint.png");
}

/* Sports - Blocks 19 */
/* line 83, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-cricketpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/cricket.png");
}

/* Sports - Blocks 20 */
/* line 87, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-cuppng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/cup.png");
}

/* Sports - Blocks 21 */
/* line 91, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-curling-2png] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/curling-2.png");
}

/* Sports - Blocks 22 */
/* line 95, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-cyclingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/cycling.png");
}

/* Sports - Blocks 23 */
/* line 99, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-cycling-feedpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/cycling_feed.png");
}

/* Sports - Blocks 24 */
/* line 103, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-cycling-sprintpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/cycling_sprint.png");
}

/* Sports - Blocks 25 */
/* line 107, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-deepseafishingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/deepseafishing.png");
}

/* Sports - Blocks 26 */
/* line 111, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-discgolfpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/discgolf.png");
}

/* Sports - Blocks 27 */
/* line 115, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-divingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/diving.png");
}

/* Sports - Blocks 28 */
/* line 119, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-finishpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/finish.png");
}

/* Sports - Blocks 29 */
/* line 123, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-fishingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/fishing.png");
}

/* Sports - Blocks 30 */
/* line 127, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-fitnesspng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/fitness.png");
}

/* Sports - Blocks 31 */
/* line 131, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-fourbyfourpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/fourbyfour.png");
}

/* Sports - Blocks 32 */
/* line 135, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-ftpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/ft.png");
}

/* Sports - Blocks 33 */
/* line 139, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-glasswaterpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/glasswater.png");
}

/* Sports - Blocks 34 */
/* line 143, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-golfingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/golfing.png");
}

/* Sports - Blocks 35 */
/* line 147, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-handballpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/handball.png");
}

/* Sports - Blocks 36 */
/* line 151, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-hangglidingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/hanggliding.png");
}

/* Sports - Blocks 37 */
/* line 155, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-hikingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/hiking.png");
}

/* Sports - Blocks 38 */
/* line 159, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-horseridingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/horseriding.png");
}

/* Sports - Blocks 39 */
/* line 163, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-hotfoodcheckpointpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/hotfoodcheckpoint.png");
}

/* Sports - Blocks 40 */
/* line 167, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-huntingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/hunting.png");
}

/* Sports - Blocks 41 */
/* line 171, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-icehockeypng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/icehockey.png");
}

/* Sports - Blocks 42 */
/* line 175, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-iceskatingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/iceskating.png");
}

/* Sports - Blocks 43 */
/* line 179, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-indoor-arenapng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/indoor-arena.png");
}

/* Sports - Blocks 44 */
/* line 183, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-joggingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/jogging.png");
}

/* Sports - Blocks 45 */
/* line 187, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-judopng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/judo.png");
}

/* Sports - Blocks 46 */
/* line 191, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-karatepng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/karate.png");
}

/* Sports - Blocks 47 */
/* line 195, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-kartingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/karting.png");
}

/* Sports - Blocks 48 */
/* line 199, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-kayakingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/kayaking.png");
}

/* Sports - Blocks 49 */
/* line 203, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-kitesurfingpng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/kitesurfing.png");
}

/* Sports - Blocks 50 */
/* line 207, ../sass/gmap_block.sass */
label[for=edit-blocks-icon-lockerroompng] {
  text-indent: -999em;
  display: inline-block;
  width: 32px;
  height: 37px;
  background: url("../micons/sports/lockerroom.png");
}

/* Restaurants-bars */
