@mixin background-image($filename)
	text-indent: -999em
	display : inline-block
	width: 32px
	height: 37px
	background: url("../micons/#{$filename}")

/* Sports - Blocks */

/* Sports - Blocks 1 */
label[for=edit-blocks-icon-archerypng]
	@include background-image("sports/archery.png")

/* Sports - Blocks 2 */
label[for=edit-blocks-icon-atvpng]
	@include background-image("sports/atv.png")

/* Sports - Blocks 3 */
label[for=edit-blocks-icon-australianfootballpng]
	@include background-image("sports/australianfootball.png")

/* Sports - Blocks 4 */
label[for=edit-blocks-icon-avalanche1png]
	@include background-image("sports/avalanche1.png")

/* Sports - Blocks 5 */
label[for=edit-blocks-icon-badminton-2png]
	@include background-image("sports/badminton-2.png")

/* Sports - Blocks 6 */
label[for=edit-blocks-icon-baseballpng]
	@include background-image("sports/baseball.png")

/* Sports - Blocks 7 */
label[for=edit-blocks-icon-basketballpng]
	@include background-image("sports/basketball.png")

/* Sports - Blocks 8 */
label[for=edit-blocks-icon-beachvolleyballpng]
	@include background-image("sports/beachvolleyball.png")

/* Sports - Blocks 9 */
label[for=edit-blocks-icon-bike-downhillpng]
	@include background-image("sports/bike_downhill.png")

/* Sports - Blocks 10 */
label[for=edit-blocks-icon-bike-risingpng]
	@include background-image("sports/bike_rising.png")

/* Sports - Blocks 11 */
label[for=edit-blocks-icon-billiard-2png]
	@include background-image("sports/billiard-2.png")

/* Sports - Blocks 12 */
label[for=edit-blocks-icon-boardercrosspng]
	@include background-image("sports/boardercross.png")

/* Sports - Blocks 13 */
label[for=edit-blocks-icon-bobsleighpng]
	@include background-image("sports/bobsleigh.png")

/* Sports - Blocks 14 */
label[for=edit-blocks-icon-bolliepng]
	@include background-image("sports/bollie.png")

/* Sports - Blocks 15 */
label[for=edit-blocks-icon-boxingpng]
	@include background-image("sports/boxing.png")

/* Sports - Blocks 16 */
label[for=edit-blocks-icon-chronometerpng]
	@include background-image("sports/chronometer.png")

/* Sports - Blocks 17 */
label[for=edit-blocks-icon-climbingpng]
	@include background-image("sports/climbing.png")

/* Sports - Blocks 18 */
label[for=edit-blocks-icon-coldfoodcheckpointpng]
	@include background-image("sports/coldfoodcheckpoint.png")

/* Sports - Blocks 19 */
label[for=edit-blocks-icon-cricketpng]
	@include background-image("sports/cricket.png")

/* Sports - Blocks 20 */
label[for=edit-blocks-icon-cuppng]
	@include background-image("sports/cup.png")

/* Sports - Blocks 21 */
label[for=edit-blocks-icon-curling-2png]
	@include background-image("sports/curling-2.png")

/* Sports - Blocks 22 */
label[for=edit-blocks-icon-cyclingpng]
	@include background-image("sports/cycling.png")

/* Sports - Blocks 23 */
label[for=edit-blocks-icon-cycling-feedpng]
	@include background-image("sports/cycling_feed.png")

/* Sports - Blocks 24 */
label[for=edit-blocks-icon-cycling-sprintpng]
	@include background-image("sports/cycling_sprint.png")

/* Sports - Blocks 25 */
label[for=edit-blocks-icon-deepseafishingpng]
	@include background-image("sports/deepseafishing.png")

/* Sports - Blocks 26 */
label[for=edit-blocks-icon-discgolfpng]
	@include background-image("sports/discgolf.png")

/* Sports - Blocks 27 */
label[for=edit-blocks-icon-divingpng]
	@include background-image("sports/diving.png")

/* Sports - Blocks 28 */
label[for=edit-blocks-icon-finishpng]
	@include background-image("sports/finish.png")

/* Sports - Blocks 29 */
label[for=edit-blocks-icon-fishingpng]
	@include background-image("sports/fishing.png")

/* Sports - Blocks 30 */
label[for=edit-blocks-icon-fitnesspng]
	@include background-image("sports/fitness.png")

/* Sports - Blocks 31 */
label[for=edit-blocks-icon-fourbyfourpng]
	@include background-image("sports/fourbyfour.png")

/* Sports - Blocks 32 */
label[for=edit-blocks-icon-ftpng]
	@include background-image("sports/ft.png")

/* Sports - Blocks 33 */
label[for=edit-blocks-icon-glasswaterpng]
	@include background-image("sports/glasswater.png")

/* Sports - Blocks 34 */
label[for=edit-blocks-icon-golfingpng]
	@include background-image("sports/golfing.png")

/* Sports - Blocks 35 */
label[for=edit-blocks-icon-handballpng]
	@include background-image("sports/handball.png")

/* Sports - Blocks 36 */
label[for=edit-blocks-icon-hangglidingpng]
	@include background-image("sports/hanggliding.png")

/* Sports - Blocks 37 */
label[for=edit-blocks-icon-hikingpng]
	@include background-image("sports/hiking.png")

/* Sports - Blocks 38 */
label[for=edit-blocks-icon-horseridingpng]
	@include background-image("sports/horseriding.png")

/* Sports - Blocks 39 */
label[for=edit-blocks-icon-hotfoodcheckpointpng]
	@include background-image("sports/hotfoodcheckpoint.png")

/* Sports - Blocks 40 */
label[for=edit-blocks-icon-huntingpng]
	@include background-image("sports/hunting.png")

/* Sports - Blocks 41 */
label[for=edit-blocks-icon-icehockeypng]
	@include background-image("sports/icehockey.png")

/* Sports - Blocks 42 */
label[for=edit-blocks-icon-iceskatingpng]
	@include background-image("sports/iceskating.png")

/* Sports - Blocks 43 */
label[for=edit-blocks-icon-indoor-arenapng]
	@include background-image("sports/indoor-arena.png")

/* Sports - Blocks 44 */
label[for=edit-blocks-icon-joggingpng]
	@include background-image("sports/jogging.png")

/* Sports - Blocks 45 */
label[for=edit-blocks-icon-judopng]
	@include background-image("sports/judo.png")

/* Sports - Blocks 46 */
label[for=edit-blocks-icon-karatepng]
	@include background-image("sports/karate.png")

/* Sports - Blocks 47 */
label[for=edit-blocks-icon-kartingpng]
	@include background-image("sports/karting.png")

/* Sports - Blocks 48 */
label[for=edit-blocks-icon-kayakingpng]
	@include background-image("sports/kayaking.png")

/* Sports - Blocks 49 */
label[for=edit-blocks-icon-kitesurfingpng]
	@include background-image("sports/kitesurfing.png")

/* Sports - Blocks 50 */
label[for=edit-blocks-icon-lockerroompng]
	@include background-image("sports/lockerroom.png")




/* Restaurants-bars */
